<%- include('../partials/header') %>

<div class="container">
        <h1 style="text-align: center; margin-top: 2rem;">Edit <%= campground.name %></h1>
        <div style="width: 40%; margin: 20px auto">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="editForm">
                <div class="mb-2">
                    <input class="form-control" type="text" name="updated_name" value="<%= campground.name %>" placeholder="name">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="number" name="updated_price" value="<%= campground.price %>" placeholder="price" min="0.00" step="0.01">
                </div>
                <div class="mb-2">
                    <img src="<%= campground.image %>" alt="Image" width="100%" id="previewImage">
                </div>
                <div class="mb-2">
                    <input class="form-control" type="file" name="updated_image" accept="image/*" id="imageInput" value="<%= campground.image_name %>">
                </div>
                <p id="errorElement"></p>
                <input type="hidden" value="<%= campground._id %>" id="campground_id">
                <div class="mb-2">
                    <textarea class="form-control" name="updated_desc" rows="3" placeholder="Description"><%= campground.desc %></textarea>
                </div>                
                <div class="mb-2">
                    <button class="btn btn-lg btn-primary col-12" id="editButton">Submit</button>
                </div>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>
</div>

<script src="/scripts/edit.js"></script>

<%- include('../partials/footer') %>