<%- include('../partials/header') %>

<div class="container">
    <header class="container-fluid bg-light text-dark p-5" style="margin: 25px 0;">
        <h1>Welcome to YelpCamp!</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <p>
            <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
        </p>
    </header>     

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground) { %>
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="img-thumbnail d-flex flex-column" style="margin: 1rem 0; height: 100%;">
                    <img src="<%= campground.image %>" class="img-fluid rounded" style="flex: 1;" alt="campground-image">
                    <div class="figure-caption text-dark fs-5 mb-1">
                        <figcaption><%= campground.name %></figcaption>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary mb-0">More Info</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
    
</div>

<%- include('../partials/footer') %>